
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Puddles&display=swap");

:root{
  --green: #c5f7eb;
  --yellow: #FFFFED;
  --purple:#5C1AD9;
  --pink:#FE347E;
  --gray:lightslategray;
  --lightgray:#ECECEC;
  --regular-font-size:1rem;
  --medium-font-size:1.2rem;
  --large-font-size:1.6rem;
  --xlarge-font-size:2rem;
  --xxlarge-font-size:3rem;

  --gray-border: var(--gray) solid 1px;
  --small-round:5px;
  --section-margin: 0 auto;
  --section-top-padding: 30%;
  --item-margin: 5% auto;
  --image-opacity: 0.9;
  --medium-icon: 30px;
  --large-icon: 55px;
}

body 
{
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto Mono;
  font-size: var(--regular-font-size);
  line-height: 1.6;
  text-align: justify;
  overflow-x: hidden;
  background: rgb(197,247,235);
background: linear-gradient(0deg, rgba(197,247,235,1) 0%, rgba(255,255,237,1) 100%);
background-attachment: fixed;
}

ul{
  list-style: none;
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
}

h1,
h2{
  margin:0;
  padding: 0;
}

.menu-bar{
display: none;
}

.content{
  padding:5% 0 5% 0;
  width: 70%;
  margin: 0 auto;
}

.nav-bar{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #5C1AD9;
  margin: 0;
  background-color: white;
  border-bottom: var(--gray-border)
}

.nav-option{
  margin-right: 4%
}

.text-button:hover{
  text-shadow: 2px 2px 8px var(--gray);
}

.text-button:active{
  text-shadow: none;
}

.nav-link:link,
.nav-link:visited{
  color: var(--purple);
}

.box-button{
  background-color: white;
  border: #5C1AD9 solid 2px;
  padding: 5px 20px 5px 20px ;
  border-radius: var(--small-round);
}

.box-button:hover{
  box-shadow: 0px 2px 50px -10px var(--purple);
}

.box-button:active{
  box-shadow: none;
}

.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding-top: var(--section-top-padding);
  margin: var(--section-margin);
}

.about-image{
position: relative;
width: 30%;
box-sizing: border-box;
padding-left: 10%;
}

.about-content{
overflow-wrap: anywhere;
width: 70%;
}

.greet{
  font-size: var(--medium-font-size);
  font-weight: bold;
  text-align: left;
}

.hello,
.name{
  font-size:var(--large-font-size) ;
}

.tape{
position: absolute;
width: 90px;
top:-25%;
-webkit-transform:rotate(-55deg);
transform:rotate(-55deg);
z-index: 1;
}

.headshot{
opacity: var(--image-opacity);
width: 50%;
border : black solid 1.5px;
border-radius: var(--small-round);
width: 150px;
height: 200px;
-webkit-transform:rotate(15deg);
transform: rotate(15deg);
}

.stack{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: var(--section-margin);
  padding-top: var(--section-top-padding);
}

.stack-card{
  position: relative;
  border: var(--gray-border);
  border-radius: var(--small-round);
  background-color: var(--lightgray);
  padding:3%;
  box-shadow: 0px 2px 50px -10px var(--pink);
}

.astronaut{
  width: 120px;
  height: 100px;
  position: absolute;
  top:-44%;
  right:25%;
  z-index: -1;
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
  drop-shadow(-1px -1px 0 black);
  }

  .star{
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .star-top{
    top: -30%;
  }

  .star-bottom{
  bottom: -30%;
  left:80%
  }

  .star-right{
    top: 50%;
    left:150%
    }

.stack-current{
  width:70%;
  min-width: 349px;
  min-height: 174px;
}

.stack-explore{
  position: relative;
  width:30%;
  min-width: 180px;
  min-height: 174px;
  top: 40px;
  right: 20px;
}

.list-card{
  background-color: white;
  border: var(--gray) solid 0.5px;
  border-radius: var(--small-round);
  padding: 5%;
}

.my-stack-list{
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

.portfolio{
margin: var(--section-margin);
padding-top: var(--section-top-padding);
width: 80%;
}

.portfolio-top{
  width: 100%;
  background-color: pink;
}

.project{
  display: flex;
  flex-direction: row;
  margin: var(--item-margin)
}

.project-image{
  width:40%;
  min-width: 224px;
  min-height: 438px;
  opacity: var(--image-opacity);
  border: var(--gray) solid 0.5px;
  border-radius: var(--small-round);
}

.project-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  text-align: left;
  border: var(--gray) solid 0.5px;
  border-radius: var(--small-round);
  padding: 3%; 
  max-width: 60%;
  min-width: 311px;
  min-height: 404px;
  margin-left: 1%;
}

.project-link-icon{
  margin-left: 10px;
}

.project-link-icon:hover{
 color: var(--pink);
}

.project-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-stack-list{
  margin: var(--item-margin);
}

.project-stack-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bullet-point{
margin-right: 5px;
}

.contact{
  margin: var(--section-margin);
  padding: 10% 0 20% 0;
  text-align: center;
  width: 50%;
}

.media-link-list{
  position: fixed;
  top:15%;
  left:5%
}

.media-icon{
 color:var(--pink)
}

.media-icon:hover{
  color:var(--purple)
 }

 .media-icon,
 .project-link-icon{
font-size: var(--medium-icon);
 }

.corner-name{
  position: fixed;
  right:-162px;
  bottom:-162px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-47deg);
  background-color: white;
  width: 300px;
  height: 300px;
  text-align: center;
  z-index: 2;
  font-size: var(--medium-font-size);
}

@media only screen and (max-width:768px){
body{
  font-size: var(--large-font-size);
}

.content{
  width: 200vw;
}

.about{
  flex-direction: column-reverse;
}

.about-content{
  width: 100%;
}

.about-image{
  padding-left: 0;
  padding-bottom: 5%;
}

.greet{
  font-size: var(--medium-font-size);
}

.hello,
.name{
  font-size: var(--xlarge-font-size);
}

.stack{
  flex-direction: column;
  align-items: flex-end;
}

.star-right{
  top:100%;
  left:100%;
}

.star-bottom{
  bottom:0%;
  left: 25%
}

.astronaut{
  top:27%;
  right:110%;
  width: 220px;
  height: 180px;
}

.stack-current{
width: 90%;
}

.stack-explore{
top:-17px;
right:15px;
width: 50%;
}

.project-image{
display: none;
}

.project-content{
  max-width: 100%;
  margin-left: 0;
}

.project-link-icon{
  font-size: var(--large-icon);
  margin-left: 30px;
}

.project-link:link,
.project-link:visited{
  color: var(--purple);
}

  .top-nav,
.side-links{
    display: none;
  }

.menu-bar{
  width: 100%;
  height: 10%;
  display:block ;
  position: fixed;
  background-color: white;
  border-bottom: var(--gray-border);
  z-index: 2;
 }

.menu-button{
  color: var(--purple);
  border: transparent;
  background-color: white;
  font-size: var(--large-icon);
  margin: 5%;
}

.side-nav{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100vw;
  border-right:var(--gray) solid 1px ;
  z-index: 3;
  background-color: white;
}

 .nav-bar{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10% 0 10% 0;
  width: 100%;
  font-size: var(--xlarge-font-size);
position: static;
border-bottom:none;
}

.nav-option{
margin: var(--item-margin);
}

.media-link-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  width: 80%;
  margin: 10% auto;
}

.media-icon{
  font-size: var(--large-icon);
}

.box-button{
  font-size: var(--xlarge-font-size);
}

/* .corner-name{
  right:-50px;
  bottom:-60px;
} */
 /* .about,
 .stack,
 .portfolio{
  margin: 0;
  padding: 0;
 } */

/* .content{
  width:100%
} */
}