
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Puddles&display=swap");

:root{
  --white:#FFFFFF;
  --green: #c5f7eb;
  --yellow: #FFFFED;
  --purple:#5C1AD9;
  --pink:#FE347E;
  --gray:lightslategray;
  --lightgray:#ECECEC;

  --small-font-size:0.5rem;
  --regular-font-size:1rem;
  --medium-font-size:1.2rem;
  --large-font-size:1.6rem;
  --xlarge-font-size:2rem;
  --xxlarge-font-size:3rem;

  --gray-border: var(--gray) solid 1px;
  --small-round:5px;

  --item-margin: 5% auto;
  --image-opacity: 0.9;

  --small-icon: 15px;
  --medium-icon: 30px;
  --large-icon: 55px;
}

body 
{
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: Roboto Mono;
  font-size: var(--regular-font-size);
  line-height: 1.6;
  text-align: left;
  overflow-x: hidden;
  overflow-y:scroll;
background: linear-gradient(0deg, rgba(197,247,235,1) 0%, rgba(255,255,237,1) 100%);
background-attachment: fixed;
box-sizing:border-box
}

ul{
  list-style: none;
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
}

h1,
h2{
  margin:0;
  padding: 0;
  font-family: Quicksand;
}

.menu-bar{
display: none;
}

section{
  padding-top: 30vh;;
  }

.content{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.nav-bar{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #5C1AD9;
  margin: 0;
  background-color: var(--white);
  border-bottom: var(--gray-border)
}

.nav-option{
  margin-right: 4%
}

.text-button:hover{
  text-shadow: 2px 2px 8px var(--gray);
}

.text-button:active{
  text-shadow: none;
}

.nav-link:link,
.nav-link:visited{
  color: var(--purple);
}

.box-button{
  background-color: var(--white);
  border: #5C1AD9 solid 2px;
  padding: 5px 20px 5px 20px ;
  border-radius: var(--small-round);
}

.box-button:hover{
  box-shadow: 0px 2px 50px -10px var(--purple);
}

.box-button:active{
  box-shadow: none;
}

.about{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hand{
  width:30px
}

.about-image{
position: relative;
width: 40%;
box-sizing: border-box;
padding-left: 10%;
}

.about-content{
overflow-wrap: anywhere;
width: 60%;
}

.greet{
  font-weight: bold;
  text-align: left;
}

.hello,
.name{
  font-size:var(--large-font-size) ;
}

.tape{
position: absolute;
width: 90px;
top:-25%;
-webkit-transform:rotate(-55deg);
transform:rotate(-55deg);
z-index: 1;
}

.headshot{
opacity: var(--image-opacity);
border : black solid 1.5px;
border-radius: var(--small-round);
width: 150px;
height: 200px;
transform: rotate(15deg);
-webkit-transform:rotate(15deg);
}

.stack{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stack-card{
  position: relative;
  border: var(--gray-border);
  border-radius: var(--small-round);
  background-color: var(--lightgray);
  padding:1rem;
  box-shadow: 0px 2px 50px -10px var(--pink);
}

.astronaut{
  width: 120px;
  height: 100px;
  position: absolute;
  top:-44%;
  right:25%;
  z-index: -1;
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
  drop-shadow(-1px -1px 0 black);
  }

  .star{
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .star-top{
    top: -30%;
    left:10%
  }

  .star-bottom{
  bottom: -30%;
  left:80%
  }

  .star-right{
    top: 45%;
    left:129%;
    z-index:1
    }

.stack-current{
  width:70%;
}

.stack-explore{
  position: relative;
  width:30%;
  top: 40px;
  right: 20px;
}

.list-card{
  background-color: var(--white);
  border: var(--gray) solid 0.5px;
  border-radius: var(--small-round);
  padding: 1rem;
}

.my-stack-list{
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

.portfolio{
  width: 100%;
}

.hilight{
  color: var(--pink);
  font-weight: bold;
}

.portfolio-top{
  width: 100%;
}

.project{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: var(--item-margin);
}

.project-image{
  width:40%;
  opacity: var(--image-opacity);
  border: var(--gray) solid 0.5px;
  border-radius: var(--small-round);
}

.project-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);;
  text-align: left;
  border: var(--gray) solid 0.5px;
  border-radius: var(--small-round);
  padding: 3%;
  margin-left: 1%;
  width: 60%;
  min-height: 438px; 
  z-index: 1; 
}

.project-link-icon{
  margin-left: 10px;
  color: var(--purple);
}

.project-link-icon:hover{
 color: var(--pink);
}

.project-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-stack-list{
  margin: var(--item-margin);
}

.project-stack-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bullet-point{
margin-right: 5px;
font-size: var(--small-icon)
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15vh;
}

.media-link-list{
  position: fixed;
  top:15%;
  left:5%
}

.media-icon{
 color:var(--pink)
}

.media-icon:hover{
  color:var(--purple)
 }

 .media-icon,
 .project-link-icon{
font-size: var(--medium-icon);
 }

.corner-name{
  position: fixed;
  right: -8rem;
  bottom:-9rem;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  background-color: var(--white);;
  width: 15rem;
  height: 15rem;
  text-align: center;
  z-index: 3;
  font-size: var(--regular-font-size);
  border-top:var(--gray-border);
  opacity:var(--image-opacity)
}


@media  screen and (max-width:481px){
  .top-nav,
  .side-links{
      display: none;
    }

  .menu-bar{
    width: 100%;
    height: 8%;
    display:block ;
    position: fixed;
    background-color: white;
    border-bottom: var(--gray-border);
    z-index: 3;
   }

   .menu-button{
    color: var(--purple);
    border: transparent;
    background-color: white;
    font-size: var(--medium-icon);
    margin: 3%;
  }

  .content{
width: 90%;
  }

  .about{
    flex-direction: column-reverse;
  }

.about-image{
  width: 100%;
  text-align: center;
}
  .about-content{
    width: 100%;
  }

    .stack{
      margin: 0;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
  }

  .stack-current{
    width: 90%;
    }
    
    .stack-explore{
    top:-17px;
    right:15px;
    width: 50%;
    }


.star-right{
  top:7%;
  left:88%;
}

.star-bottom{
  bottom:0%;
  left: 25%
}

.astronaut{
  top:5.4rem;
  right:11rem;
  width: 7rem;
  height: 6rem;
  z-index: 1;
}

.project:not(:first-child){
  margin-top:10vh ;
}

.project{
  width: 100%;
  flex-direction: column;
}

.project-content{
  margin-top:7vh ;
  align-self:flex-end;
  width: 80%;
  background-color: var(--yellow);
  border: var(--gray) solid 1.5px;
  z-index: 1;
}

.project-image{
  align-self:flex-start;
  width:70%;
  opacity: 1;
  position:absolute;
  z-index: 0;
}

.show-image{
  z-index: 2;
}

    .side-nav{
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 50%;
      border-right:var(--gray) solid 1px ;
      z-index: 3;
      background-color: var(--white);
    }
    
     .nav-bar{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 10% 0 10% 0;
      width: 100%;
    position: static;
    border-bottom:none;
    }
    
    .nav-option{
    margin: var(--item-margin);
    }
    
    .media-link-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: static;
      width: 80%;
      margin: 10% auto;
    }

 .project-image-message{
  color: var(--purple);
  line-height: 0;
  margin: 5vh 0 0 0;
  font-weight: bold;
 }
    .arrow {
      margin-left: 25%;
      border: solid var(--purple);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      animation: arrow 1s ease-in-out alternate infinite;;
    }

    @keyframes arrow {
      from {
        transform: translateY(0%) rotate(45deg);
      }
      to {
        transform: translateY(3vh) rotate(45deg);
      } 
    }
  }

@media  screen and (min-width:1025px){
  body{
  height: 500vh;

  }
  
  .content{
    max-width: 850px;
}

section{
  height: 100vh;
  padding-top: 0;
}

.portfolio{
  padding-top:15%;
  height: 200vh;
}

}